reachy-mini>=1.7.0
reachy_mini_dances_library>=0.2.1
openai>=2.1.0
mediapipe==0.10.14
openwakeword>=0.6.0
websockets>=12.0
reachy_mini_toolbox
textual>=0.80.0
insightface>=0.7.3
onnxruntime>=1.16.3
opencv-contrib-python>=4.8.0
